.mermaid{
  background-color: #F6FFFE
}
nav a.hover-white, footer a.hover-white{
  color: #777777
}
nav a.hover-white:focus,
nav a.hover-white:hover,
footer a.hover-white:focus,
footer a.hover-white:hover{
  color: #555555
}
.instapaper_ignoref{
  display: none
}
